@font-face {
    font-family: 'Roboto';
    src: url('Roboto100/roboto-100-normal.woff2') format('woff2'), url('Roboto100/roboto-100-normal.woff') format('woff'), url('Roboto100/roboto-100-normal.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto300/roboto-300-normal.woff2') format('woff2'), url('Roboto300/roboto-300-normal.woff') format('woff'), url('Roboto300/roboto-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto400/roboto-400-normal.woff2') format('woff2'), url('Roboto400/roboto-400-normal.woff') format('woff'), url('Roboto400/roboto-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto700/roboto-700-normal.woff2') format('woff2'), url('Roboto700/roboto-700-normal.woff') format('woff'), url('Roboto700/roboto-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
